---
---

@import 'jekyll-theme-cayman';
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

body {
font-family: 'Baloo Bhai', cursive;
}

.imgLeft {
    float:left;
    margin: 0 10px 10px 0;
    width: 50%;
    vertical-align:top;
    border:3px solid black;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #29222b;
    background-image: linear-gradient(120deg, #1e1286, #cc3cef);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #6323b0;
}
